body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  color: rgb(73, 94, 87);
}

a:visited {
  color: rgb(73, 94, 87)
}

a:active {
  color: black;
}

a:active svg {
  color: rgb(244,206,20);
}

.testimony::-webkit-scrollbar {
  display: none;
}